
@font-face {
  font-family: 'Futura Bk';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/FutuBk.woff2') format('woff2'),
  url('../fonts/FutuBk.woff') format('woff');
}

@font-face {
  font-family: 'Futura Bk';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/Futura Bk Bold.woff2') format('woff2'),
  url('../fonts/Futura Bk Bold.woff') format('woff');
}

